// out: ../css/index.css, compress: true, sourceMap: false

.body_bg {
    background: url(../images/body_bg.jpg) repeat-x top center;
    width: 100%;
    height: 676px;
    position: absolute;
    top: 444px;
    left: 0;
    z-index: -1;
}
.header {
    background: url(../images/header_bg.jpg) no-repeat top center;
    height: 379px;
    .logo {
        float: left;
        padding: 42px 0 0 0;
    }
    .search {
        float: right;
        padding-top: 62px;
        input {
            width: 300px;
            height: 42px;
            padding-left: 20px;
            background-color: rgba(255, 255, 255, .8);
            font: 300 14px/42px "Microsoft YaHei";
            color: #000;
            border-radius: 21px 0 0 21px;
            float: left;
        }
        span {
            display: inline-block;
            width: 60px;
            height: 42px;
            border-radius: 0 21px 21px 0;
            background: url(../images/search.png) no-repeat #4987e4 14px center;
            float: left;
            cursor: pointer;
        }
    }
}
.nav {
    background-color: #437cda;
    height: 65px;
    ul {
        li {
            float: left;
            a {
                display: inline-block;
                width: 171px;
                height: 65px;
                font: 300 16px/65px "Microsoft YaHei";
                text-align: center;
                color: #fff;
                &:hover {
                    background-color: #5a8ee4;
                }
            }
        }
    }
}

/*----------------------------------------------*/
.global_box {
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #fff;
    min-height: 700px;
}
.box1 {
    padding-top: 25px;
}
/*----------------------------------------------*/

.lbt {
	width: 617px;
	height: 362px;
	overflow: hidden;
	position: relative;
	float: left;
}

.lbt ul.img {
	width: 900%;
	position: absolute;
}

.lbt ul.img li {
	float: left;
}

.lbt ul.img li a {
	display: block;
	width: 617px;
	height: 362px;
}

.lbt ul.img li a img {
	display: block;
	width: 617px;
	height: 362px;
}

.lbt .hwz {
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background: rgba(0, 0, 0, 0.5);
	background: #000\9;
	filter: alpha(opacity=50);
}

.lbt .hwz>div {
	padding-left: 20px;
	font: 700 14px/35px "Microsoft Yahei";
	color: #fff;
	display: none;
	position: relative;
}

.lbt ul.num {
	position: absolute;
	bottom: 10px;
	right: 5px;
	z-index: 999;
}

.lbt ul.num li {
	float: left;
	margin-right: 8px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	font: 300 16px/22px "Microsoft Yahei";
	text-align: center;
	color: #fff;
}

.lbt ul.num li.now {
	background-color: #df5050;
}

/*----------------------------------------------*/
.lbt_news {
    width: 550px;
    float: right;
    .top {
        height: 48px;
        background-color: #f7f7f7;
        ul {
            li {
                float: left;
                a {
                    display: inline-block;
                    width: 126px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    font-size: 16px;
                    color: #333;
                }
                &.now {
                    a {
                        background-color: #437cda;
                        color: #fff;
                    }
                }
            }
        }
        > a {
            float: right;
            line-height: 48px;
            font-size: 14px;
            color: #666;
            padding-right: 15px;
            &:hover {
                color: #f00;
                text-decoration: underline;
            }
        }
    }
    .bottom {
        > div {
            display: none;
            &:nth-child(1) {
                display: block;
            }
            ul {
                padding-top: 8px;
                li {
                    a {
                        display: block;
                        width: 100%;
                        height: 34px;
                        line-height: 34px;
                        font-size: 14px;
                        color: #333;
                        &:hover {
                            color: #f00;
                        }
                    }
                }
            }
        }
    }
}
/*----------------------------------------------*/
.ztlm {
    border: 1px solid #dfdfdf;
    height: 110px;
    margin: 25px 0;
}
/*----------------------------------------------*/
.picScroll-left {
	width: 100%;
    height: 110px;
	overflow: hidden;
	position: relative;
}

.picScroll-left .hd {}

.picScroll-left .hd .prev,
.picScroll-left .hd .next {
	display: block;
	width: 32px;
	height: 32px;
	float: right;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/ztlm_left.png) no-repeat scroll top left;
	position: absolute;
	top: 50%;
	margin-top: -16px;
}

.picScroll-left .hd .prev {
	left: 10px;
}

.picScroll-left .hd .next {
	right: 10px;
	background: url(../images/ztlm_right.png) no-repeat scroll top left;
	background-position: top right;
}

.picScroll-left .bd {
    padding: 14px 0 0 48px;
	height: 81px;
    overflow: hidden;
}

.picScroll-left .bd ul {
	overflow: hidden;
	zoom: 1;
}

.picScroll-left .bd ul li {
	margin: 0 3px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}

.picScroll-left .bd ul li img {
	width: 215px;
	height: 81px;
	display: block;
}

/*----------------------------------------------*/
.news_list {
    float: left;
    width: 380px;
    margin-right: 30px;
    .top {
        height: 36px;
        border-bottom: 2px solid #437cda;
        h3 {
            display: inline-block;
            color: #1752b2;
            line-height: 36px;
            font-size: 16px;
            font-family: "微软雅黑";
        }
        > a {
            float: right;
            line-height: 36px;
            font-size: 14px;
            color: #666;
            padding-right: 10px;
            &:hover {
                color: #f00;
                text-decoration: underline;
            }
        }
    }
    .bottom {
            ul {
                padding-top: 8px;
                li {
                    a {
                        display: block;
                        width: 100%;
                        height: 34px;
                        line-height: 34px;
                        font-size: 14px;
                        color: #333;
                        &:hover {
                            color: #f00;
                        }
                    }
                }
            }
    }
}
/*----------------------------------------------*/
.spxw {
    margin: 0;
    float: right;
    .img {
        padding-top: 8px;
        img {
            float: left;
            width: 184px;
            height: 136px;
            margin: 0 3px;
        }
    }
}
/*----------------------------------------------*/
.box3 {
    border: 1px solid #dfdfdf;
    height: 374px;
    margin: 25px 0;
    .left {
        height: 100%;
        width: 186px;
        border-right: 1px solid #dfdfdf;
        background-color: #f6f6f6;
        ul {
            li {
                height: 124px;
                border-bottom: 1px solid #dfdfdf;
                &:nth-child(3) {
                    border-bottom: 0;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 124px;
                    font-size: 16px;
                    color: #666666;
                    line-height: 40px;
                    text-align: center;
                    .img {
                        display: block;
                        width: 36px;
                        height: 36px;
                        overflow: hidden;
                        margin: 0 auto;
                        padding-top: 33px;
                    }
                }
            }
        }
    }
}
/*----------------------------------------------*/
.yqlj {
    height: 52px;
    margin: 25px 0;
    background-color: #f6f6f6;
    .title {
        float: left;
        display: inline-block;
        width: 130px;
        height: 32px;
        line-height: 32px;
        background-color: #437cda;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-family: 'Microsoft YaHei';
        margin: 10px 25px 0 25px;
    }
    select {
        float: left;
    width: 170px;
    height: 32px;
    padding: 5px;
    margin: 10px 18px 0;
    }
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/